DATABASE_URL=postgresql+asyncpg://avnadmin:AVNS_zOJVLKeGTsRv-AwnrlP@pg-df37a89-contrerasjob123-fc4e.l.aivencloud.com:18981/wwfDataBase?ssl=require
AI_SERVICE_URL=http://localhost:8081
ALLOWED_ORIGINS=http://localhost:3000,http://localhost:5173